.skills {
    margin-bottom: 20px;
  }
  
  .skills h2 {
    color: #090a0a;
    text-align: center;
  }
  
  .skills ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    padding-left: 0;
    list-style-type: none;
  }
  
  .skills li {
    width: 30%; 
    margin: 5px 0; 
    text-align: center;
    padding: 5px;
  }
  
  .skills li:nth-child(1), .skills li:nth-child(2) {
    align-self: flex-start; 
    justify-self: flex-start; 
  }
  
  .skills li:nth-child(3), .skills li:nth-child(4) {
    align-self: center; 
    justify-self: center; 
  }
  
  .skills li:nth-child(5), .skills li:nth-child(6) {
    align-self: flex-end; 
    justify-self: flex-end;
  }
  .skills-line {
    border: 0;
    height: 1px;
    background-color: #011F4B; 
    margin-top: 20px;
    width: 100%; 
  }
  .skills strong {
    font-weight: bold;
  }
  
  